.AboutStyle {
    width: 70%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .AboutStyle {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.about {
    text-align: left;
    background-color: #AA5F4B;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .about {
        order: 2;
    }
}

.AboutStyle img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}